
<link rel="stylesheet" href="~/Content/HomePage/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/HomePage/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/HomePage/css/flaticon.css" />
<link rel="stylesheet" href="~/Content/HomePage/css/owl.carousel.css" />
<link rel="stylesheet" href="~/Content/HomePage/css/style.css" />
<link rel="stylesheet" href="~/Content/HomePage/css/animate.css" />
<!-- Header section -->
<header class="header-section">
    <div class="header-warp">
        <div class="site-logo">
            <h2><span>i</span>Order</h2>
        </div>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- menu -->
        <ul class="main-menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Items", "Index", "Items")</li>
            <li>@Html.ActionLink("Order", "Index", "Orders")</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        <div class="header-right">
            <p><span>Reservations</span> <i class="fa fa-phone"></i> +387 61 555 555</p>
        </div>
    </div>
</header>
<!-- Header section end -->
<script src="~/Content/HomePage/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/HomePage/js/bootstrap.min.js"></script>
<script src="~/Content/HomePage/js/owl.carousel.min.js"></script>
<script src="~/Content/HomePage/js/circle-progress.min.js"></script>
<script src="~/Content/HomePage/js/main.js"></script>